@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose ul,
.prose ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
